#version: '3.8'

services:
# MongoDB instance
  mongodb:
    image: mongo:7.0
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "${MONGO_PORT:-27017}:27017"
    volumes:
      - ./db_data:/data/db
      - ./tls-certs:/etc/mongo/ssl:ro
    command: >
      mongod
      --tlsMode requireTLS
      --tlsCertificateKeyFile /etc/mongo/ssl/server.pem
      --tlsCAFile /etc/mongo/ssl/ca.crt
      --tlsAllowConnectionsWithoutCertificates
      --bind_ip_all
    networks:
      - db-network

  ## Custom MongoDB Admin UI (with TLS support)
  mongo-admin:
    build: ./mongo-admin
    container_name: mongo-admin
    restart: unless-stopped
    ports:
      - "${ADMIN_UI_PORT:-3000}:3000"
    environment:
      MONGO_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_HOST: mongodb
      MONGO_PORT: ${MONGO_PORT:-27017}
      MONGO_TLS: "true"
      MONGO_TLS_ALLOW_INVALID: "true"
      MONGO_TLS_CA_FILE: /etc/mongo/ssl/ca.crt
      MONGO_TLS_CLIENT_CERT_FILE: /etc/mongo/ssl/client.pem
      ADMIN_UI_PORT: 3000
      WEB3_AUTH_ENABLED: ${WEB3_AUTH_ENABLED:-false}
      ADMIN_WALLETS: ${ADMIN_WALLETS:-}
      SESSION_SECRET: ${SESSION_SECRET:-mongo-admin-secret-change-in-production}
    volumes:
      - ./tls-certs:/etc/mongo/ssl:ro
    depends_on:
      - mongodb
    networks:
      - db-network

networks:
  db-network:
    driver: bridge
